<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.deed.pavilion.module.agentBackup.mapper.AgentBackupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.house.deed.pavilion.module.agentBackup.entity.AgentBackup">
        <id column="id" property="id" />
        <result column="original_id" property="originalId" />
        <result column="tenant_id" property="tenantId" />
        <result column="store_id" property="storeId" />
        <result column="agent_code" property="agentCode" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="position" property="position" />
        <result column="level" property="level" />
        <result column="entry_time" property="entryTime" />
        <result column="status" property="status" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_operator" property="deleteOperator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, original_id, tenant_id, store_id, agent_code, name, phone, id_card, position, level, entry_time, status, delete_time, delete_operator
    </sql>

</mapper>
