<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.deed.pavilion.module.landlordEntrust.mapper.LandlordEntrustMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.house.deed.pavilion.module.landlordEntrust.entity.LandlordEntrust">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="landlord_id" property="landlordId" />
        <result column="house_id" property="houseId" />
        <result column="entrust_type" property="entrustType" />
        <result column="entrust_start_time" property="entrustStartTime" />
        <result column="entrust_end_time" property="entrustEndTime" />
        <result column="renew_remind" property="renewRemind" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, landlord_id, house_id, entrust_type, entrust_start_time, entrust_end_time, renew_remind, remark, status, create_time, update_time
    </sql>

</mapper>
